/* @group Imports */

@import "node_modules/bootstrap/less/bootstrap";
@import "node_modules/font-awesome/less/font-awesome.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
/* @end Imports */


/* @group Colors */

@ThemePrimary: #4c6ac4;
@ThemeAlt: #50c68a;

@White: #fff;

/* @end Colors */


/* @group Typography */

.FontOpenSansLight() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.FontOpenSansRegular() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.FontOpenSansSemibold() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.FontOpenSansBold() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/* @end Typography */
