/* @group Imports */

@import "node_modules/bootstrap/less/bootstrap";
@import "node_modules/font-awesome/less/font-awesome.less";
@import "node_modules/octicons/octicons/octicons.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
/* @end Imports */


/* @group Colors */

@ThemePrimary: #4c6ac4;
@ThemeAlt: #50c68a;

@White: #fff;

/* @end Colors */


/* @group Bootstrap Variables */

// Typography
@font-family-sans-serif: 'Open Sans', sans-serif;
@link-hover-decoration: none;
@link-hover-color: @ThemeAlt;

// Misc
@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

// Jumbotron
@jumbotron-bg: @ThemePrimary;
@jumbotron-color: @White;

// Buttons
@btn-default-bg: @ThemeAlt;

/* @end Bootstrap Variables */


/* @group Misc */

@octicons-font-path: "../../build/fonts";

pre {
  background: none;
  border: 0;
  .FontOpenSansLight();
  font-size: @font-size-large;
}

/* @end Misc */



/* @group Typography */

.FontOpenSansLight() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.FontOpenSansRegular() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.FontOpenSansSemibold() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.FontOpenSansBold() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/* @end Typography */


/* @group Header */

.header {
  text-align: center;

  .logo {
    color: @White;
    text-shadow: 3px 3px darken(@ThemePrimary, 20%);
    margin: 20px 0;
  }

  .desc {
    color: @White;
  }

  .search-form {
    padding: 20px 0 10px;

    .input-lg {
      margin: 10px 0;
      border: 0;
    }

    .btn-default {
      background-color: @ThemeAlt;
      border: 0;
      margin: 10px 0;
      padding: 11px 16px;
      color: @White;

      &:hover {
        background-color: darken(@ThemeAlt, 10%);
      }
    }

    .demo-link {
      color: @White;
      font-style: italic;

      &:hover,
      &:active,
      &:focus {
        color: @ThemeAlt;
      }
    }
  }
}

/* @end Header */


/* @group Release */

.release {

  .page-header {
    h3 {
      display: inline-block;
    }

    .fa-external-link {
      font-size: 0.8em;
      margin-left: 5px;
    }

    .downloads {
      float: right;

      .fa {
        color: @ThemeAlt;
        margin-left: 10px;
      }
    }
  }


  .label {
    .FontOpenSansLight();
    margin: 0 5px 0 10px;
  }
}

/* @end Release */


/* @group Results */

.results {

  .loading {
    font-size: 36px;
    text-align: center;
    color: @ThemeAlt;
  }

  h1 {
    text-align: center;
    color: @ThemePrimary;
    word-break: break-all;

    .fa {
      margin: 0 10px 0 0;
    }
  }
}

/* @end Results */
